CompileFlags:
  CompilationDatabase: build
  Add:
    - -Wall
    - -Wextra
    - -std=c++20

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  ClangTidy:
    Add:
      - modernize-*
      - performance-*
      - bugprone-*
    Remove:
      - modernize-use-trailing-return-type

Index:
  Background: Build

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
